body {
  height: 100vh;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #fbe6b5;
}
::-webkit-scrollbar-thumb {
  background: #8b101af1;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff182bf1;
}